:root {
    --btn: #696969;
    --btn-click: #313131e8;
    --btn-red: #e44761;
    --btnRed-click: #b3132df2;
    --btn-blue: #8e77ff;
    --btnBlue--click: #4e31deed;
    --txtBtn-click: rgb(209, 209, 209);

}

* {
    font-family: "Exo";
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: black;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 254, 254);
    padding: 50px;
}

.header {
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8b8b8;
    padding: 10px;
    
}

.button-container {
    display: flex;
    flex-direction: column;

}

.row.big-keys {
    display: flex;
    justify-content: space-between;
}

.row.keys{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}
.container,
button,
.screen {
    border-radius: 25px;
    border: 1.5px solid black;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 4px;
}

.screen div {
    box-sizing: content-box;
    display: flex;
    justify-content: right;
    flex: 1;
    font-size: 25px;
    padding-right: 5px;
}

#lastOperation {
    font-size: 20px;
}

button {
    cursor: pointer;
    transition: 0.4s;
}

.btn-red {
    background-color: var(--btn-red);
}

.btn-red:active {
    background-color: var(--btnRed-click);
    color: var(--txtBtn-click);
}

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-blue:active {
    background-color: var(--btnBlue--click);
    color: var(--txtBtn-click);
}

.btn {
    background-color: var(--btn);
}

.btn:active {
    background-color: var(--btn-click);
    color: var(--txtBtn-click);
}

.screen {
    box-shadow: 1px 1px 5px #8d8d8d;
}

footer {
    margin: 30px;
    display: flex;
    flex: 1
}

footer * {
    font-family: 'Courier New', Courier, monospace;
}

#github-page{
    text-decoration: none;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    word-spacing: 1px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    word-spacing: 1px;
    margin: 4px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 10px;
    color: rgb(54, 54, 194)
}