* {
    border: 1px solid red
}

.container {
    width: 300px;
    margin: 0 auto;
}

input[type="button"] {
    margin: 2px;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.conflict {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

.left .top, .left .bottom {
    display: flex;
    justify-content: space-between;
    
}

.big {
    display: flex;
    justify-content: center;
    align-items: center;
}

