* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 178, 178);
}

.header {
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    
}

.row.big-keys {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 5px;
    border: 1px solid black;

}
